<article id="me" class="panel">
    <header>
        {{ page.content }}
    </header>
        <a href="#work" class="jumplink pic">
            <span class="arrow icon fa-chevron-right"></span><img class="desktop" alt="go to the gallery" src="{{ theme_url }}/images/home.jpg"><img class="mobile" alt="go to the gallery" src="{{ theme_url }}/images/home-mobile.jpg">
        </a>
</article>
