{# intégration du footer dans toutes les pages ~/.html.twig #}

<div class="site-footer" id="colophon" role="contentinfo">
  <footer class="footer" id="footer">
    <div class="container1 clearfix">
      <div class="go-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
      </div>
      <p></p>
      <div id="mycontent">
        <p>&#169; 2015 Saba is brought to you by <a href="https://github.com/CaribbeanGrav" target="_blank">CaribbeanGrav</a> and powered by <a href="http://getgrav.org" target="_blank">Grav</a>.<br/><h2>{{ t("TEST_LG") }}</h2>
        </p>
      </div>
      <p></p>
    </div>
  </footer>
</div>
