{# intégration du footer dans ~/partials/base.html.twig #}

<footer class="footer" id="footer">
    <div class="go-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <div id="mycontent">
        {{ "FOOTER_COPYRIGHT"|t }}
    </div>
</footer>
