<nav id="nav">
    <a href="#me" class="icon fa-home active"><span>{{ "MENU_HOME"|t }}</span></a>
    <a href="#work" class="icon fa-camera"><span>{{ "MENU_GALLERY"|t }}</span></a>
    <a href="#error" class="icon fa-times-circle"><span>{{ "MENU_ERROR"|t }}</span></a>
    <a href="#contact" class="icon fa-paper-plane"><span>{{ "MENU_CONTACT"|t }}</span></a>
    <a href="https://github.com/CaribThemes/grav-theme-saba" target="_blank" class="icon fa-github"><span>GitHub</span></a>
</nav>
