{% extends 'partials/base.html.twig' %}
{% block header_navigation %}{% endblock %}
{% block content %}
<article id="error" class="panel">
    <header>
        <h1>{{ "ERROR_TYPE"|t }} {{ page.header.http_response_code }}</h1>        
        <p>{{ "ERROR_DESC"|t }}</p>
        <p><a href="home">{{ "ERROR_BTN"|t }}</a></p>
    </header>
</article>
{% endblock %}
